## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,59.49,60,7,2.66,clear sky
1,1,Ushuaia,AR,-54.8000,-68.3000,44.26,53,20,8.05,few clouds
2,2,Albany,US,42.6001,-73.9662,51.17,79,66,1.01,broken clouds
3,3,Chuy,UY,-33.6971,-53.4616,45.64,79,100,7.70,overcast clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,61.52,72,100,16.78,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Soto La Marina,MX,23.7667,-98.2167,72.77,92,0,3.13,clear sky
9,9,Bengkulu,ID,-3.8004,102.2655,82.33,72,100,6.85,overcast clouds
11,11,Puerto Escondido,MX,15.8500,-97.0667,78.73,86,76,4.29,broken clouds
14,14,Phu Ly,VN,20.5411,105.9139,81.01,81,94,3.91,overcast clouds
15,15,Vaini,TO,-21.2000,-175.2000,78.96,89,75,11.50,broken clouds
16,16,Hilo,US,19.7297,-155.0900,78.53,83,100,8.05,overcast clouds
17,17,Erzin,TR,36.9559,36.2000,72.14,71,9,6.78,clear sky
18,18,Hithadhoo,MV,-0.6000,73.0833,82.62,70,14,7.34,few clouds
20,20,La Asuncion,VE,11.0333,-63.8628,82.13,89,100,0.00,overcast clouds
21,21,Rikitea,PF,-23.1203,-134.9692,72.18,73,22,5.66,light rain

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             247
City                   247
Country                247
Lat                    247
Lng                    247
Max Temp               247
Humidity               247
Cloudiness             247
Wind Speed             247
Current Description    247
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,5,Soto La Marina,MX,23.7667,-98.2167,72.77,92,0,3.13,clear sky
1,9,Bengkulu,ID,-3.8004,102.2655,82.33,72,100,6.85,overcast clouds
2,11,Puerto Escondido,MX,15.8500,-97.0667,78.73,86,76,4.29,broken clouds
3,14,Phu Ly,VN,20.5411,105.9139,81.01,81,94,3.91,overcast clouds
4,15,Vaini,TO,-21.2000,-175.2000,78.96,89,75,11.50,broken clouds
...,...,...,...,...,...,...,...,...,...,...
242,657,Muborak,UZ,39.2553,65.1528,82.87,15,0,2.46,clear sky
243,658,Seoul,KR,37.5683,126.9778,70.99,54,40,21.85,scattered clouds
244,663,Binga,ZW,-17.6203,27.3414,74.84,43,14,1.81,few clouds
245,665,Kinkala,CG,-4.3614,14.7644,70.41,90,77,3.24,broken clouds
246,667,Bumba,CD,2.1833,22.4667,70.56,98,100,1.14,overcast clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Soto La Marina,MX,72.77,clear sky,23.7667,-98.2167,
9,Bengkulu,ID,82.33,overcast clouds,-3.8004,102.2655,
11,Puerto Escondido,MX,78.73,broken clouds,15.8500,-97.0667,
14,Phu Ly,VN,81.01,overcast clouds,20.5411,105.9139,
15,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
16,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,
17,Erzin,TR,72.14,clear sky,36.9559,36.2000,
18,Hithadhoo,MV,82.62,few clouds,-0.6000,73.0833,
20,La Asuncion,VE,82.13,overcast clouds,11.0333,-63.8628,
21,Rikitea,PF,72.18,light rain,-23.1203,-134.9692,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Soto La Marina,MX,72.77,clear sky,23.7667,-98.2167,Hotel Chicago
1,Bengkulu,ID,82.33,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,Puerto Escondido,MX,78.73,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,Phu Ly,VN,81.01,overcast clouds,20.5411,105.9139,5 Star Apartment Central Phu Ly
4,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
242,Muborak,UZ,82.87,clear sky,39.2553,65.1528,Muborak temiryoʻl vakzali
243,Seoul,KR,70.99,scattered clouds,37.5683,126.9778,LOTTE HOTEL SEOUL
244,Binga,ZW,74.84,few clouds,-17.6203,27.3414,Lakeview Inn Binga
245,Kinkala,CG,70.41,broken clouds,-4.3614,14.7644,Hotel la Pepeche Kinkala
246,Bumba,CD,70.56,overcast clouds,2.1833,22.4667,Père Carlos

In [14]:
# 8a. Create the output File (CSV)
city_data_df.to_csv('WeatherPy_Vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))